<%= form_for(@news_highlight) do |f| %>
  <% if @news_highlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_highlight.errors.count, "error") %> prohibited this news_highlight from being saved:</h2>

      <ul>
      <% @news_highlight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
