<div class="left_title">&nbsp;</div>
<div class="right_title">&nbsp;</div>
<div class="section_title" id="books_title">POPULAR BOOKS</div>
<div class="home_section" id="home_books">
	<div class="popular_book"><%= image_tag 'book1.jpg' %></div>
	<div class="popular_book"><%= image_tag 'book2.jpg' %></div>
	<div class="popular_book"><%= image_tag 'book3.jpg' %></div>
	<div style="clear:both;"></div>
</div>

<div class="left_title">&nbsp;</div>
<div class="right_title">&nbsp;</div>
<div class="section_title" id="games_title">POPULAR GAMES</div>
<div class="home_section" id="home_games">
	<div class="popular_book"><%= image_tag 'game1.jpg' %></div>
	<div class="popular_book"><%= image_tag 'game2.jpg' %></div>
	<div class="popular_book"><%= image_tag 'game3.jpg' %></div>
	<div style="clear:both;"></div>
</div>