<div class="row" id="search_row">
	<div class="medium-2 columns"><%= image_tag 'dpl_logo.png' %></div>
	<div class="medium-4 columns">&nbsp;</div>
	<div class="medium-4 columns">
		<input type="text" id="search_input" />
	</div>
	<div class="medium-2 columns" id="social_icons">
		<a href="https://twitter.com/detroitlibrary"><%= image_tag 'webicons/webicon-facebook-m.png' %></a>
		<a href="https://www.facebook.com/detroitpubliclibrary"><%= image_tag 'webicons/webicon-twitter-m.png' %></a>
		<a href="https://www.youtube.com/user/detroitpubliclibrary"><%= image_tag 'webicons/webicon-youtube-m.png' %></a>
	</div>
</div>

<div class="row" id="header_row">
	<div class="medium-12 columns">
		<ul class="example-orbit" data-orbit>
		  <li>
		    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/na006875rev1.jpg" alt="National Automotive History Collection" />
		    <div class="orbit-caption">
		      National Automotive History Collection
		    </div>
		  </li>
		  <li class="active">
		    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/hackley%20series%20web%20banner.jpg" alt="Hackley After Dark" />
		    <div class="orbit-caption">
		      Hackley After Dark
		    </div>
		  </li>
		  <li>
		    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/miliagebanner3.jpg" alt="Millage" />
		    <div class="orbit-caption">
		      Millage
		    </div>
		  </li>
		  <li>
		    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/java%20and%20jazz%20webimage%20copy.jpg" alt="2014 Comerica Java and Jazz" />
		    <div class="orbit-caption">
		      2014 Comerica Java and Jazz
		    </div>
		  </li>
		  <li>
		    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/summerreadingbanner22.jpg" alt="Join the Summer Reading Challenge" />
		    <div class="orbit-caption">
		      Join the Summer Reading Challenge
		    </div>
		  </li>
		</ul>
	</div>
</div>

<div id="main_content">
	<div class="row" id="announcement_row">
		<div data-alert class="alert-box info radius medium-8 medium-centered columns">
			Douglass and Redford branches are temporary closed for renovations.
			<a href="#" class="close">&times;</a>
		</div>
	</div>

	<div class="row" id="content_row">
		<div class="medium-8 columns">
			<%= render :partial => 'upcoming_events' %>
			<%= render :partial => 'news' %>
		</div>

		<div class="medium-4 columns">
			<div class="left_title">&nbsp;</div>
			<div class="right_title">&nbsp;</div>
			<div class="section_title" id="books_title">POPULAR BOOKS</div>
			<div class="home_section" id="home_books">
				<div class="popular_book"><%= image_tag 'book1.jpg' %></div>
				<div class="popular_book"><%= image_tag 'book2.jpg' %></div>
				<div class="popular_book"><%= image_tag 'book3.jpg' %></div>
				<div style="clear:both;"></div>
			</div>
			
			<div class="left_title">&nbsp;</div>
			<div class="right_title">&nbsp;</div>
			<div class="section_title" id="games_title">POPULAR GAMES</div>
			<div class="home_section" id="home_games">
				<div class="popular_book"><%= image_tag 'game1.jpg' %></div>
				<div class="popular_book"><%= image_tag 'game2.jpg' %></div>
				<div class="popular_book"><%= image_tag 'game3.jpg' %></div>
				<div style="clear:both;"></div>
			</div>

			<%= render :partial=>'services' %>
		</div>
	</div>
</div>